@(Car: Carro)


@main(new Main(Car.name, Car.description, Car.img, Car.keywords)) {
	<div class="container">
	    <div class="row">
	    	<div class="col-md-4">
	    		<div class="thumbnail">
			      <img src="@routes.Assets.at(Car.img)" alt="@Car.name" id="main_img" width=400 height=200 />
			      <div class="caption">
			        <h3>@Car.name</h3>
			        <p>@Car.description</p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
	    		
	    	</div>
	    	
	    </div>
	</div>
}
