@(car: Form[CarroFormData])(implicit messages: Messages)

@import helper._

@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
	<div class="container">
	    <h1>Adicionar</h1>
	@form(routes.AdminCarro.save(), 'enctype -> "multipart/form-data") {
		@inputText( car("name"), '_label -> "Nome" , 'id -> "name", 'size -> 20)
		@textarea(car("description"), '_label -> "Descrição" , 'id -> "description")
		@inputFile(car("img"), '_label -> "Imagem")
		Existente<!-- current -->
		<img src="@routes.Assets.at(car("img").value.getOrElse("logo.png"))" width="200" height="100"  />
		 <span>@car("img").value</span>
		 <a onClick='javascript:DeleteImage(@car("id").value);' class="btn">apagar</a><!-- Delete the image link -->
		@inputText(car("keywords"), '_label -> "Palavras chave")
		@select(
			car("state"),
			options("active" -> "Activo", "unactive" -> "Inactivo"),
			'_label -> "Estado",
			'_default -> "None"
		)
		<div class="buttons">
			<input type="submit" value="Adicionar" class="btn"/>
		</div>
	}

	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#">Adicionar</a></li>
	  <li role="presentation"><a href="#">Listar todos</a></li>
	  <li role="presentation"><a href="#">Procurar</a></li>
	  <li role="presentation"><a href="#">Carregar imagens</a></li>
	</ul>

	</div>
	<script type="text/javascript">
	function DeleteImage(id) {
		if (confirm("Eliminar a imagem?")) { // confirm image delete?
			// if yes
			var http_url = "@routes.AdminCarro.removeImage(31337)";
			$.get( http_url.replace("31337", id), function( data ) {
				console.log("This was the answer " + data);
				// TODO Pretty result here
			});
		}
		return false;
	}
	</script>
}