@(lista: Seq[models.Carro])

@import helper._


@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
	<div class="container">
		<table class="table table-hover table-bordered">
			<tr>
				<th>ID</td>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Imagem principal</th>
			</tr>
	@lista.map { car =>
	<tr>
		<td>
			<a href="@routes.AdminCarro.editView(car.id.get)">@car.id</a>
		</td>
		<td>@car.name</td>
		<td>@if(car.description.length() > 20) {
			@car.description.substring(0, 20)
		} else {
			@car.description
		}
		</td>
		<td>
			<img src="@routes.Assets.at(car.img)" alt="@car.name" width="200" height="100" />
		</td>
	</tr>
	}
		</table>
	</div>
}