@(car: Form[CarroFormData], medias: Seq[Media])(implicit messages: Messages)

@import helper._

@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
	<div class="container">
	    <h1>Atualizar</h1>
	@form(
	routes.AdminCarro.update()
	, 'enctype -> "multipart/form-data") {
		<input type="hidden" name="id" value='@car("id").value' >
		@inputText( car("name"), '_label -> "Nome" , 'id -> "name", 'size -> 20)
		@inputText( car("year"), '_label -> "Ano" , 'id -> "year", 'size -> 20)
		@textarea(car("description"), '_label -> "Descrição" , 'id -> "description"
		, 'cols -> 50, 'rows -> 10)
		@inputFile(car("img"), '_label -> "Imagem")
		Existente<!-- current -->
		<img src="@routes.Assets.at(car("img").value.getOrElse("logo.png"))" width="200" height="100"  />
		 <span>@car("img").value</span>
		 <a onClick='javascript:DeleteImage(@car("id").value);' class="btn">apagar</a><!-- Delete the image link -->
		@inputText(car("keywords"), '_label -> "Palavras chave")

		<span for="make">Marca</span>
		<select name="make" id="make" onchange="onBrandChange();">
			<option value="0">&nbsp;</option>
		</select>

		<span for="model">Modelo</span>
		<select name="model" id="model">
			<option value="0">&nbsp;</option>
		</select>

		@select(
			car("state"),
			options("active" -> "Activo", "unactive" -> "Inactivo"),
			'_label -> "Estado",
			'_default -> "None"
		)
		<div class="buttons">
			<input type="submit" value="Alterar" class="btn"/>
		</div>
	}
	<!-- Shows related images -->
	<div style="position: absolute; top: 140px; left: 150px;">
		<ul class="list-group" id="medialistbox">
		<li class="list-group-item"></li>

		</ul>
	</div>

	<div style="background-color: #f0f0f0; width: 450px; height: 120px; padding: 4px; top: 200px; left: 200px; position:absolute; z-index:6;" id="divuploadimg">
		
		<form enctype="multipart/form-data" id="uploadimgform" >
			<h3 for="image">Escolha o arquivo</h3>
			<input type="file" name="img" id="image"/>
			<input type="hidden" name="car_id" value="@car("id").value" />

			<a onClick="javascript:$('#divuploadimg').hide();" href="#" class="btn btn-warning btn-small">
				Cancelar
			</a>
			&nbsp;&nbsp;
			<input type='button' class="btn btn-danger" id="uploadimg" value="Upload" />

		</form>
	</div>

	@admin.nav()

	</div>
	
<script type="text/javascript">
	function DeleteImage(id) {
		if (confirm("Eliminar a imagem?")) { // confirm image delete?
			// if yes
			var http_url = "@routes.AdminCarro.removeImage(31337)";
			$.get( http_url.replace("31337", id), function( data ) {
				console.log("This was the answer " + data);
				// TODO Pretty result here
			});
		}
		return false;
	}

	function DeleteMedia(id) {
		if (confirm("Eliminar a imagem?")) { // confirm image delete?
			// if yes
			var http_url = "@routes.AdminCarro.removeMedia(31337)";
			$.get( http_url.replace("31337", id), function( data ) {
				console.log("This was the answer " + data);
				// TODO Pretty result here
				if (data.status == "ok") {
					$("#media_" + id).remove();
				} else {
					$("#media_" + id).css("backgrond-color", "red");
					console.log("Failed removing media id " + id);
				}
			});
		}
		return false;
	}

	function loadMedia(id) {
		http_url = "@routes.AdminCarro.getMediaByCarId(31337)";
		http_url = http_url.replace("31337", id);

		$("#medialistbox").empty();

		$("#medialistbox").append(getFirstLi());

		$.get( http_url, function( data ) {
		  data.forEach( function (ent) {
		  	console.log(ent)
		  	 $("#medialistbox").append(getLiForEnt(ent));
		  });
		});
	}

	function getFirstLi() {
		return '<li class="list-group-item">' +
				"<a href=\"#\" onclick=\"javascript:$('#divuploadimg').show();\">enviar imagem</a>";
			+ '</li>';
	}

	function getLiForEnt(ent) {
		var path = "@routes.Assets.at("31337")";
		var small = ent.path.split(".")[0] + "-small." + ent.path.split(".")[1];
		path = path.replace("31337", "/" + ent.car_id + "/" + small);
		return '<li class="list-group-item" id="media_' + ent.id + '">' +
			'<img src="' + path + '" width="100" height="50" /> &nbsp;' +
			"<a onClick='javascript:DeleteMedia(" + ent.id + ");' class=\"btn\">apagar</a>" +
		'</li>';
	}

$('#uploadimg').click(function(){
    var formData = new FormData($('#uploadimgform')[0]);
    $.ajax({
        url: '@routes.AdminCarro.upload',  //Server script to process data
        type: 'POST',
        //Ajax events
        beforeSend: function() { console.log("sending file..."); },
        success: function()
        {
        	alert("Envio completo");
        	loadMedia(@car("id").value);
        },
        error: function() { alert("Falha no envio"); },
        // Form data
        data: formData,
        //Options to tell jQuery not to process data or worry about content-type.
        cache: false,
        contentType: false,
        processData: false
    });
});

$('#divuploadimg').hide();
loadMedia(@car("id").value);

brands.forEach(function(ent) {
   $("#make").append("<option value=\"" + ent.id + "\">" + ent.descricao + "</option>");
});

getModelsForBrandLocal($('#make').val());
</script>
}
