@(user: Form[User])(implicit messages: Messages)

@import helper._

@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
	<div class="container">
	    <h1>Adicionar</h1>
	@form(routes.AdminUser.save()) {
		<input type="hidden" name="id" value='@user("id").value' >
		@inputText( user("username"), '_label -> "Nome" , 'id -> "name", 'size -> 20)
		@inputPassword( user("password"), '_label -> "Senha" , 'id -> "password", 'size -> 20)
		<span>Confirmar senha</span>
		<input type="password" value="" id="confirmpassword" 
		onchange="javascript:confirmPassword();"/><br/>
		@inputText( user("email"), '_label -> "E-Mail" , 'id -> "email", 'size -> 20)
		
		<div class="buttons">
			<input type="submit" value="Adicionar" class="btn"/>
		</div>
	}

	@admin.user.nav()

	</div>

	<script type="text/javascript">
		function confirmPassword() {
			if (document.getElementById("password").value === document.getElementById("confirmpassword").value) {
				$("#password").css("background-color", "green");
				$("#confirmpassword").css("background-color", "green");
				return true;
			} else {
				$("#password").css("background-color", "red");
				$("#confirmpassword").css("background-color", "red");
			}
			return false;
		}
	</script>
	
}
