@(lista: Seq[models.User], total: Int)

@import helper._


@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
	<div class="container">
		<table class="table table-hover table-bordered">
			<tr>
				<th>ID</td>
				<th>Nome</th>
				<th>Email</th>
				<th>&nbsp;</th>
			</tr>
	@lista.map { user =>
	<tr>
		<td>
			<a href="@routes.AdminUser.editView(user.id.get)">@user.id</a>
		</td>
		<td>@user.username</td>
		<td>@user.email</td>
		<td><a href="javascript:apagar(@user.id);">apagar</a></td>
	</tr>
	}
		</table>
	</div>

<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		@for( i <- 1 to total ) {
		<li><a href="@routes.AdminUser.index(i)">@i</a></li>
		}
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>


@admin.user.nav()

	<script type="text/javascript">
		function apagar(id) {
			if (confirm("Apagar o utilizador?")) {
				alert("apagado");// FIXME
			}
		}
	</script>
}