@(brands: Seq[Marca], models: Seq[Modelo])

@mainWebsite(new Main("Notificação/Alerta", "Notificação/Alerta", "logo.png", "notificação, alerta", "/newsletter/add")) {
    <h1>Receba um aviso no seu correio  eletrônico,<br/> quando encontrarmos o seu carro.</h1>
    <form action="@routes.NotificationController.save()" method="POST">
        <span for="email">E-Mail</span>
        <input type="email" name="email" id="email" />

        <span for="make">Marca</span>
        <select name="make" id="make" onchange="onBrandChange();">
            @for( m <- brands ) {
            <option value="@m.id">@m.descricao</option>
            }
        </select>

        <span for="model">Modelo</span>
        <select name="model" id="model">
            <option value="0">&nbsp;</option>
        </select>

        <input type="submit" name="save" value="Registar" class="btn btn-default"/>
    </form>

<script type="text/Javascript">

    function onBrandChange() {
        // add models to model select
        var id = $('#make').val();
        getModelsForBrandLocal(id);
    }

    /** @deprecated */
    function getModelsForBrand(id) {
        http_url = "@routes.NotificationController.getModelByBrand(31337)";
		http_url = http_url.replace("31337", id);

		$("#model").empty();

		$.get( http_url, function( data ) {
		  data.forEach( function (ent) {
		  	console.log(ent)
		  	$("#model").append(getOption(ent));
		  });
		});
    }

    function getModelsForBrandLocal(make_id){
        $("#model").empty();
        models.forEach(function (ent) {
            if (ent.make == make_id ) {
                $("#model").append(getOption(ent));
            }
        });
    }

    function getOption(ent) {
        return "<option value='" + ent.id + "'>" +
            ent.descricao +
            "</option>";
    }

    var models = [
    @for(model <- models) {
       { "id": "@model.id" , "descricao": "@model.descricao", "make":"@model.marca" },
    }
    ];

    getModelsForBrandLocal($('#make').val());

</script>

}