@(lista: Seq[models.Newsletter], total:Int)

@import helper._


@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
  <div class="container">
    <table class="table table-hover table-bordered">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Estado</th>
        <th>IP</th>
        <th>&nbsp;</th>
      </tr>
      @lista.map { news =>
      <tr>
        <td>
          <a href="@routes.NewsletterController.editView(news.id.get)">@news.id</a>
        </td>
        <td>@news.email</td>
        <td>@news.state</td>
        <td>@news.address</td>
        <td><a href="javascript:apagar(@news.id);">apagar</a></td>
      </tr>
      }
    </table>
  </div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @for( i <- 1 to total ) {
    <li><a href="@routes.NewsletterController.index(i)">@i</a></li>
    }
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

  @admin.newsletter.nav()

<script type="text/javascript">
function apagar(id) {
  if (confirm("Apagar o email?")) {
    alert("apagado");// FIXME
   }
}
</script>
}