@(news: Form[NewsletterUpdateForm])(implicit messages: Messages)

@import helper._

@main(new Main("Car Dealers", "Compra e venda de carros", "logo.png", "carro, compra, venda")) {
<div class="container">
    <h1>Alterar</h1>
    @form(routes.NewsletterController.save()) {
    <input type="hidden" name="id" value='@news("id").value' >
    @inputText( news("email"), '_label -> "Email" , 'id -> "email", 'size -> 20)
    @inputText( news("state"), '_label -> "Estado" , 'id -> "state", 'size -> 20)
    @inputText( news("address"), '_label -> "IP" , 'id -> "ip", 'size -> 20)

    <div class="buttons">
        <input type="submit" value="Guardar" class="btn"/>
    </div>
    }

    @admin.user.nav()

</div>

}
